name: Hugo Build and Deploy

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true # Fetch Hugo themes (e.g. PaperMod)
      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true # PaperMod requires extended version
      - run: hugo --minify
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
